

{% extends "jobsapp/layout.html" %}
{% load static %}
{% block head %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>

  .main{
          padding:10px;
          display:block;
          border:2px outset lightblue;
          alignment:center;
          background-color:white;
          border-radius:20px;


   }


   h4{
          color: hsl(180, 29%, 50%);
   }
   h5{
          color:hsl(180, 8%, 52%);
   }
   button{
         color: hsl(180, 29%, 50%);
         border-radius:5px;
         margin-top:10px;
   }
   button:hover{
                background-color: hsl(180, 29%, 50%);
                color:white;
   }
   .dot{
          height:5px;
          width:5px;
          background-color:#bbb;
          border-radius:50px;
          display:inline-block;
   }
   .new{

          background-color:hsl(180, 29%, 50%);
          border-radius:10px;
          color:white;

   }
   .fea{

          background-color:hsl(180, 14%, 20%);
          border-radius:10px;
          width:90px;
          height:25px;
          color:white;

   }


  .main {
       width:500px;
       height:400px;
      margin-left:2px;
          margin-top:5px;
  }

@media only screen and (max-width: 400px) {
  .main { width:900px;
       height:450px;
      margin-left:2px;
          margin-top:8px;}
}

@media only screen and (min-width: 1200px) {
  .main { width:1100px;
       height:170px;
      margin-left:50px;
          margin-top:20px;}
}


@media only screen and (min-width: 700px) {
   .p1{
          width:20%;
          float:left;

   }
   .p2{
         width:40%;
         margin-top:5px;
          float:left;
   }
   .p3{
   margin-top:50px;
           width:40%;
          float:right;
   }

}
   </style>
{% endblock %}
{% block body %}
{% for l in list %}
<div class="container">
    <div class="row">
<div class="col-10 main">
<div class="p1">
           <img src="/static/jobsapp/{{ l.logo }}" alt="image"  />
</div>
<div class="p2">
            {% if l.new == True %}
               <button class="new">NEW!</button>
            {%  endif %}
             {% if l.featured == True %}
               <button class="fea">FEATURED</button>
            {%  endif %}
             <h4>{{ l.company }}</h4>
             <h3>{{ l.position }}</h3>
             <h5>{{ l.postedAt }}  &nbsp;&nbsp; {{ l.contract }}&nbsp;&nbsp; {{l.location }}</h4>
</div>
<div class="p3">
           <button>{{ l.role }}</button>&nbsp;&nbsp;
           <button>{{ l.level }}</button>&nbsp;&nbsp;
           {% for i in l.languages %}
           <button>{{ i }}</button>&nbsp;&nbsp;
           {% endfor %}
</div>
</div>
</div>
</div>
</div>
{% endfor %}
{% endblock %}
